<h1>Add score</h1>
<p>Enter the score obtained by a player in one of the games.</p>

<%= form_for @score, url: {action: "create"} do |form| %>
  <div class="field form-group row">
    <%= form.label :player_email, :class => "col-md-2 col-form-label" %>
    <div class="col-md-4">
      <%= form.email_field :player_email, id: :player_email, placeholder: :player_email, :class => "form-control" %>
    </div>
  </div>
  <div class="field form-group row">
    <%= form.label :game, :class => "col-md-2 col-form-label" %>
    <div class="col-md-4">
      <%= form.collection_select(:game_id, Game.all, :id, :name, {}, {:class=>"custom-select"}) %>
    </div>
  </div>
  <div class="field form-group row">
    <%= form.label :score, :class => "col-md-2 col-form-label" %>
    <div class="col-md-4">
      <%= form.text_field :score, id: :score, placeholder: :score, :class => "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit :class => "btn btn-light" %>
  </div>
<% end %>
